#inputCateg{
    box-sizing: border-box;
    border-radius: 5px;
    height: 34 px; 
}

categ{
    color:black;
}

.box {
    margin-top: 40px;
    border-radius: 20px;
    height: 80%;
    width: 60%;
    background-color:rgba(255, 255, 255, 0.2); 
    -webkit-backdrop-filter: blur(5px);  
    backdrop-filter: blur(20px);
    padding: 1px;
    margin: auto;
    /* align-cont */
    }

  #form1{
    margin-left:30px;
    margin-top:20px;

  }

  .event_card{
  
      margin-top: 70px;
      height: 90%;
      width: 70%;
      background-color:rgba(255, 255, 255, 0.2); 
      -webkit-backdrop-filter: blur(5px);  
      backdrop-filter: blur(20px);
      padding: 1px;
      margin: auto;
      /* align-cont */
      
  }

  .circle{
    height: 30px;
    width:30px;
    border-radius: 15px;
    text-align: center;
    
  }
  
  .collapse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .expand {
    height: auto;
  }

  #listsugg:hover{
    background-color: gray;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa {
    padding: 0.5vw;
    font-size: 2vw;
    width: 2.5vw;
    text-align: center;
    text-decoration: none;
  }

  .text {
    display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
 }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: #2c3034;
}

.active {
  border-color: white;
  border: 2px solid white;
  border-radius: 10px;
}

.red{
  background-color: red;
}